

body {
        font-family:  'Raleway','Tangerine', serif;
        font-size: 20px;
    background-color: bisque
      }
.container{
    width: 780px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 100%;

    
}
